In [473]:
age = 20
name = 'hong'

print(f'my name is {name} age = {age}')

my name is hong age = 20

In [474]:
a = 'lif,e is t,oo sh,ort'
li = a.split(',')
print(type(li))

<class 'list'>

In [475]:
print(li)

['lif', 'e is t', 'oo sh', 'ort']

In [476]:
a = [1, 2, 'abc', [3, 4, 'list']]

In [477]:
print(a[3][2])
print(a[-1][2])

list
list

In [478]:
b = []
print(b)

[]

In [479]:
b = 'python'
print(a*3)
print(li * 2)

[1, 2, 'abc', [3, 4, 'list'], 1, 2, 'abc', [3, 4, 'list'], 1, 2, 'abc', [3, 4, 'list']]
['lif', 'e is t', 'oo sh', 'ort', 'lif', 'e is t', 'oo sh', 'ort']

In [480]:
li[1] = 'li'
print(li)

['lif', 'li', 'oo sh', 'ort']

In [481]:
del li[2]
print(li)

['lif', 'li', 'ort']

In [482]:
li.remove('li')
print(li)

['lif', 'ort']

In [483]:
print(a)

[1, 2, 'abc', [3, 4, 'list']]

In [484]:
a.append(['g', 'h'])
a.append('d')
a

[1, 2, 'abc', [3, 4, 'list'], ['g', 'h'], 'd']

In [485]:
a.extend(['g', 'h'])
a

[1, 2, 'abc', [3, 4, 'list'], ['g', 'h'], 'd', 'g', 'h']

In [486]:
tu1 = 1,
tu2 = (1, 2, 3)

In [487]:
print(type(tu1))
print(type(tu2))

<class 'tuple'>
<class 'tuple'>

In [488]:
dic = {'a':123, 1:'school', (2, 3):'python'}
print(dic)

{'a': 123, 1: 'school', (2, 3): 'python'}

In [489]:
print(dic[2, 3])

python

In [490]:
dic[123] = 'abcd'
print(dic)

{'a': 123, 1: 'school', (2, 3): 'python', 123: 'abcd'}

In [491]:
del dic['a']
print(dic)

{1: 'school', (2, 3): 'python', 123: 'abcd'}

In [492]:
dic.values()

dict_values(['school', 'python', 'abcd'])

In [493]:
0 in dic

False

In [494]:
1 in dic

True

In [495]:
dic.get(1)

'school'

In [496]:
type(dic.get(0, 'not key'))

str

In [497]:
a = 1
b = a
c = [1, 2, 3]
d = a + 1
print(id(a))
print(id(b))
print(id(c))
print(id(d))
print(id(1))
print(id(2))
print(id(c[1]))
print(a is b)

140705982916400
140705982916400
2030697839616
140705982916432
140705982916400
140705982916432
140705982916432
True

In [498]:
print(a)

1

In [499]:
a = 'python'
print(a)

python

In [500]:
print('a', 'b', 'c', 'd', sep = ',')
print('a', 'b', 'c', 'd')
print('abcd', sep = ',')
print('a', 'b', 'c', 'd', end = ' ')
print('a', 'b', 'c', 'd')

a,b,c,d
a b c d
abcd
a b c d a b c d

In [501]:
print('실수{0} 정수{1}' .format(3.14, 20))

실수3.14 정수20

In [502]:
a = 'hello world'
b = 'hello world'
c = a

print(id(a))
print(id(b))
print(id(c))

a = 1
b = 1

print(id(a))
print(id(b))

# 만약 변수 선언이 id를 가리키는 포인터 변수 개념이면, 역참조하여 값 건드릴 수 있는가?
# 매번 객체가 새롭게 new String 되는것인가?

2030702305456
2030701852592
2030702305456
140705982916400
140705982916400

In [503]:
id("""hello world""")

2030697841264

In [504]:
x = 1
print(id(x))
x = 'hello'
print(id(x))

140705982916400
2030702318448

In [505]:
a = ['paper', 'coin', 'phone']
'paper' not in a

False

In [506]:
ob = input('찾는 물건은: ')
a = ['paper', 'coin', 'phone']

if(ob in a):
    print('찾는 물건 있어요')
else:
    print('찾는 물건 없어요')

찾는 물건은: coin
찾는 물건 있어요

In [507]:
score = int(input('점수 입력: '))
if(score >= 90):
    print('A')
elif(score >= 80):
    print('B')
elif(socre >=70):
    print('C')
else:
    print('F')

점수 입력: 90
A

In [508]:
res = 0
i = 1

while(i < 1001):
    if(i % 3 == 0):
        res += i
    i += 1
print(res)

166833

In [509]:
range(10)

range(0, 10)

In [510]:
li = ['a', 'b', 'c', 'd', 'e']

for i in li:
    print(i)

a
b
c
d
e

In [511]:
a_class = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

res = 0

for i in range(len(a_class)):
    res += a_class[i]

print(res)
print(res/len(a_class))

790
79.0

In [512]:
def add(a, b):
    c = a + b
    print(c)

In [516]:
d = add(10, 20)
print(type(d))

30
<class 'NoneType'>

In [526]:
def add_many(*args):
    print(type(args))
    result = 0
    for i in args:
        result += i
    return result

In [525]:
print(add_many(1, 2, 3))
print(add_many(1, 2, 3, 4, 5))

<class 'tuple'>
6
<class 'tuple'>
15

In [527]:
def sum_and_mul(a, b):
    return a + b, a * b

In [531]:
print(sum_and_mul(3, 4))

(7, 12)

In [532]:
def myself(a, b, c=True):
    print('age', a)
    print('name', b)
    if c :
        print('man')
    else:
        print('female')

In [542]:
myself(40, 'hong', False)
print()
myself(30, 'kim')

age 40
name hong
female

age 30
name kim
man

In [544]:
a = 1

def var_test(a):
    a = a + 1

var_test(a)
print(a)

1

In [545]:
def is_odd(num):
    if(num % 2):
        print('odd')
    else:
        print('even')

In [549]:
is_odd(4)

even

In [551]:
prt = lambda a, b: print(a+b)
prt(3, 4)

7

In [553]:
add = lambda a, b: a + b
print(add(3, 4))

7

In [589]:
f = open('0629.txt', 'w')

for i in range(1, 11):
    data = "%d번째 줄입니다.\n" %i
    f.write(data)

f.close()

In [580]:
f = open('0629.txt', 'r')

lines = f.readlines()
for line in  lines:
    print(line)

f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [584]:
f = open('0629.txt', 'r')

data = f.read()
print(data)

f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [591]:
f = open('0629.txt', 'a')

for i in range(11, 20):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)

f.close()

In [595]:
with open('0629.txt', 'r') as f:
    print(f.read())

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.
16번째 줄입니다.
17번째 줄입니다.
18번째 줄입니다.
19번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.
16번째 줄입니다.
17번째 줄입니다.
18번째 줄입니다.
19번째 줄입니다.

In [625]:
a_class = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
res = 0
n = 0

with open('score.txt', 'w') as f:
    for i in range(len(a_class)):
        f.write(str
                (a_class[i]) + '\n')

with open('score.txt', 'r') as f:
    while True:
        line = f.readline()
        if not line : break
        res += int(line)
        n += 1
print(res)
print(res/n)

790
79.0

In [2]:
class Student:
    name = '홍길동'
    
    def __init__(self):
        print('nothing')
    def info(self):
        print('제 이름은 ' + self.name + "입니다. ")

In [644]:
a = Student()
a.info()
print(a.name)
print(id(a))
print(id(a.name))

nothing
제 이름은 홍길동입니다.
홍길동
2030714508720
2030708279120

In [646]:
b = Student()
print(id(b))
print(id(b.name))

nothing
2030713668608
2030708279120

In [651]:
class University(Student):
    major = '컴퓨터공학'
    
    def intro(self):
        print('제 이름은 ' + self.name + '이고 전공은 ' + self.major + '입니다.')

In [653]:
obj3 = University()
obj3.info()
obj3.intro()

nothing
제 이름은 홍길동입니다.
제 이름은 홍길동이고 전공은 컴퓨터공학입니다.

2575594910960